.vscode/browse.vc.db*
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json

# Training/runtime artifacts
logs/
outputs/

# Model/checkpoint exports
*.pt
*.onnx
events.out.tfevents.*

# Python cache
**/__pycache__/
*.py[cod]

logs/
*.pt
*.onnx
